.main {
  background-color: #f1f1f1;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.form,
.content {
  background-color: #fff;
  margin: auto;
  padding: 32px;
  width: fit-content;
}

.heading {
  text-align: center;
  font-size: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.header .heading {
  text-align: left;
  margin-top: 2px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.form-label {
  font-weight: 600;
  line-height: 1.8rem;
  font-size: 1.2rem;
  padding-bottom: 6px;
}

.form-group .form-control {
  padding: 8px 12px;
  height: 40px;
  border: 1px solid #b3b3b3;
  outline: none;
  border-radius: 3px;
  font-size: 1.2rem;
}

.form-group .form-control:focus,
.form-group .form-control:hover {
  border-color: #2abfaf;
}

.form-message {
  font-size: 1.2rem;
  line-height: 1.6rem;
  padding: 4px 0 0;
}

.btn:hover {
  opacity: 0.8;
}

.form-group.invalid .form-control {
  border-color: #f33a58;
}

.form-group.invalid .form-message {
  color: #f33a58;
}

.btn-block {
  margin-bottom: 20px;
}

.btn {
  border-radius: 8px;
  font-weight: 600;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 12px 16px;
  cursor: pointer;
  color: #fff;
}

.btn a {
  text-decoration: none;
  color: #fff;
}

.btn-form-submit {
  width: 100%;
  background-color: #2abfaf;
  margin-top: 12px;
}

.btn--back {
  background-color: #6c757d;
}

.btn--add {
  background-color: #007bff;
  height: fit-content;
}

.btn--cancel {
  min-width: 117px;
  background-color: #dc3545;
  height: fit-content;
}

.btn--edit {
  background-color: #ffc107;
  padding: 8px 16px;
}

.btn--delete {
  background-color: #dc3545;
  padding: 8px 16px;
  margin-left: 8px;
}

.content table {
  min-width: 360px;
}

.content table td,
.content table th {
  border: 1px solid #000;
  padding: 4px 10px;
}

.contact-info {
  display: flex;
}

.contact-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  background-color: #ccc;
}

.contact-avatar img {
  width: 100%;
  border-radius: 50%;
}

.contact-name {
  line-height: 40px;
  display: inline-block;
  height: 40px;
  margin-left: 8px;
}

.articles {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.articles .btn--add {
  margin-top: 14px;
}

.home {
  text-decoration: none;
  color: #007bff;
}

.none-article {
  text-align: center;
  color: #9c9c9c;
}

.btns {
  display: flex;
  justify-content: space-between;
}